{% extends "::base.html.twig" %}

{% block header %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button> <a class="navbar-brand" href="{{ path('album_homepage') }}"><img src="{{ asset('bundles/album/images/camera.png') }}" />PhotoAlbum Online</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input class="form-control" type="text">
                </div>
                <button type="submit" class="btn btn-default">
                    Submit
                </button>
            </form>
            -->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('album_public') }}">Ver Albumes públicos</a>
                </li>
                <li>
                    <a href="{{ path('album_login') }}">Login</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">

                <div class="form-group">
                    <h1>Albumes</h1>
                    <ul class="album">
                        {% for album in albums %}
                            <li>
                                <img src="{{ asset('bundles/album/images/book.jpg') }}" />
                                <a href="">{{ album.nombre }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

        </div>
    </div>
{% endblock %}
