{% extends "::base.html.twig" %}

{% block header %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button> <a class="navbar-brand" href="{{ path('album_homepage') }}"><img src="{{ asset('bundles/album/images/camera.png') }}" />PhotoAlbum Online</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input class="form-control" type="text">
                </div>
                <button type="submit" class="btn btn-default">
                    Submit
                </button>
            </form>
            -->
            <ul class="nav navbar-nav navbar-right">
                {% if user.admin %}
                    <li>
                        <a href="{{ path('admin_homepage') }}">Administración</a>
                    </li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('album_create') }}">Crear Album</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit') }}">Cambiar contraseña</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="{{ path('user_logout') }}">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="row">
        <center>
        <table>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>AlbumId</th>
                <th>Opciones</th>
            </tr>
            <tr>
                {% for photo in photos %}
                <td width="100px" height="30px">{{ photo.id }}</td>
                <td width="100px">{{ photo.nombre }}</td>
                <td width="200px">{{ photo.albumId }}</td>
                <td width="200px">
                    <br />
                    <a href="{{ path('admin_removePhoto', {'id': photo.id}) }}">Eliminar Foto</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        </center>
    </div>
{% endblock %}
